{% block apitest_formtype_widget %}
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}

    <div id="api_result" data-userid="{{ form.parent.vars.value.id }}"></div>

    <script>
        $(document).ready(function() {
            var $container = $('#api_result');
            var $select = $('.api_choice');

            $('.api_test_button').click(function() {

                var api = $select.select2('data')['id'];

                var id = $container.data('userid');

                getRequest(id, api);
            });

            function getRequest(id, api) {
                $.get( "/admin/app/user/"+id+"/test"+api, function( data ) {

                    $container.html("");

                    if (data.result === "failed") {
                        $container.append( "No User Found" );

                    } else {
                        var user = data.user;

                        $container.append( "<p>Result: " + data.result + "</p>" );
                        $container.append( "<p>Card Numbers: " + user.cardNumber + "</p>" );
                        $container.append( "<p>Username: " + user.username + "</p>" );
                        $container.append( "<p>Password: " + user.password + "</p>" );
                        $container.append( "<p>First Name: " + user.firstName + "</p>" );
                        $container.append( "<p>Last Name: " + user.lastName + "</p>" );

                    }
                });
            }

        })
    </script>
{% endblock %}