{#NelmioApiDocBundle uses inline styles #}
<style>
    .introduction {
        padding: 0 1%;
    }
</style>

<div class="introduction">

    <p>For all api calls that require user authentication, please provide a valid <strong>auth_token</strong> provided from OAuth <strong>/oauth/v2/token</strong> in the api key field above in the page header (Click Save).</p>

    <p>You may use the OAuth Sandbox below to attain one. Please specify a valid client_id and client_secret.</p>

    <p><a id="prepop01">Prepopulate test (joebloggs@example.com) defaults</a> (Go to OAuth <strong>/oauth/v2/token</strong> / Sandbox tab and "Try" to view result).</p>

    <p>The Sandbox can then be used to make authenticated API calls.</p>

    <p><strong style="color: red">Please note that during the development phase, the API urls, request and response data schema may change.</strong></p>

</div>

{# TODO: add parameters to dev/staging with list of fields to prepopulate, under a certain "set" of defaults
e.g.
    parameters:
      nelmio_api_doc:
          sandbox_presets:
             "test user token":
                api_call: get|post--oauth-v2-token
                requirements:
                  x:y
                parameters:
                   a:b

    Improve javascript by opeing the panel to show result etc.

#}

<script>
$(function() {

    $('a#prepop01').click(function(e) {
        e.preventDefault();

        $('input[value="client_id"]').parent('p.tuple').find('input:eq(1)').val('1_ursij638cq8s88skscsk044kg4ggoo04skggskcc84g084400');
        $('input[value="client_secret"]').parent('p.tuple').find('input:eq(1)').val('2a5c9iium534cwsk8o8ogksssgkk84gg8ccoco80s0k4kgckg0');
        $('input[value="grant_type"]').parent('p.tuple').find('input:eq(1)').val('password');

        $('input[value="username"]').parent('p.tuple').find('input:eq(1)').val('joebloggs@example.com');
        $('input[value="password"]').parent('p.tuple').find('input:eq(1)').val('12345678');

        // $('#get\\|post--oauth-v2-token input[type=submit]').trigger('click');

    });

} );
</script>