{# Subject: Please confirm that you want to merge your Nando's takeaway account #}

{# Variables:
    user (object) - the user making the request
    secondary_email_address - the email the takeaway id is being copied from
    verification_token - the token needed to confirm the action
#}

<p>Merge old takeaway account</p>

<p>You are receiving this email as you requested to migrate your takeaway account from this email address ({{ secondary_email_address }}) into your My Nando's Account with the email address {{ user.email }}.</p>

<p>Please confirm this action by visiting the following url. You will need to be logged into your My Nando's Account with the email address {{ user.email }}.</p>

<p>nandos.co.uk/my-nandos/merge-old-takeaway-account/{{ verification_token }}</p>

<p>Token: {{ verification_token }}</p>

