{# Subject: {{ user.firstname }}, confirm Nando's email address change #}

{# Variables:
    user (object)
    confirmation_token
#}

<p>Email address change</p>

<p>You changed your email address, so we need to confirm your email address.</p>

{{ confirmation_token }}