{# Subject: {{ user.firstname }}, your Nando's account password reset #}

{# Variables:
    user (object)
    confirmation_token
#}

<p>Welcome to Nando's</p>

<p>You can choose a new Nando's password by clicking the link below. </p>

{{ confirmation_token }}