{# Subject: Please confirm your Nando's account #}

{# Variables:
    user (object)
    confirmation_token
#}

<p>Resend confirmation</p>

<p>You are receiving this email as you requested to resend the confirmation email.</p>

<p>Please confirm your account by visiting the following url.</p>

<p>{{ confirmation_token }}</p>
