{# Subject: {{ user.firstname }}, Please confirm your Nando's account #}

{# Variables:
    user (object)
    confirmation_token
#}

<p>Welcome to Nando's</p>

<p>Please confirm your account by visiting the following url.</p>

{{ confirmation_token }}