{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px"><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">API Documentation</a></p>
{% endblock %}

{% block sonata_sidebar_search '' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css') }}"/>
{% endblock %}
