{% extends 'TestBundle:TestFrontend:layout.html.twig' %}

{% block contentright %}

    <h2>{{ title }}</h2>

    {% block formextra %}
    {% endblock %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <hr>

    <div id="api_result" class="well">
    </div>

{% endblock %}

