<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Frontend Tests">
    <meta name="author" content="Nandos">

    {% block css %}
        <link rel="stylesheet" href="{{ asset('frontend/css/style.min.css') }}">
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

    {% block header %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ asset('bundles/app/images/logo.png') }}"/>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% block contentleft %}
                        <div class="panel panel-default">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('testfrontend_login') }}">Login</a></li>
                                <li><a href="{{ path('testfrontend_userinfo') }}">User Info</a></li>
                                <li><a href="{{ path('testfrontend_register') }}">Register</a></li>
                                <li><a href="{{ path('testfrontend_resetpassword') }}">Reset Password</a></li>
                            </ul>
                        </div>
                    {% endblock %}
                </div>
                <div class="col-md-9">
                    {% block contentright %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/app/js/jquery.3.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/forms.js') }}"></script>
    {% endblock %}

</body>
</html>