{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Card System Statuses</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td width="40%" class="sonata-ba-list-label">NCR Enabled</td>
                    <td>{{ info.ncrEnabled }}</td>
                </tr>
                <tr>
                    <td width="40%" class="sonata-ba-list-label">NCR Endpoint</td>
                    <td>{{ info.ncrEndpoint }}</td>
                </tr>
                <tr>
                    <td width="40%" class="sonata-ba-list-label">Paytronix Enabled</td>
                    <td>{{ info.paytronixEnabled }}</td>
                </tr>
                <tr>
                    <td width="40%" class="sonata-ba-list-label">Paytronix Endpoint</td>
                    <td>{{ info.paytronixEndpoint }}</td>
                </tr>
                <tr>
                    <td width="40%" class="sonata-ba-list-label">API Test Mode</td>
                    <td>{{ info.apiTestMode }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
